.products.products-round img {
    border-radius: 50%;
    background: #fff;
}

.products img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

*,
 :after,
 :before {
    box-sizing: border-box;
}

Inherited from a.col-xs-6.col-sm-6.col-md-3 .products a {
    position: relative;
    text-align: center;
    padding: 15px;
}

h3 {
    text-align: center;
}

#continue-button{
        margin-left: 40%;
        margin-top: 20%;
}