footer {
    padding: 40px 0 0;
    background: #222;
    width: 100%;
    color: #666;
    margin-top: 60%;
}


body {
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.social{
    display: inline-block;
    padding: 3%;
}


.visa{
background: url('../images/visa_curved.png') no-repeat center left;
width: 100%;
margin: 5px;
color: rgb(36, 34, 34);
}

.mastercard{
    background: url('../images/mastercard_curved.png') no-repeat center left;
    width: 100%;
    margin: 5px;
    color: rgb(36, 34, 34);
    }

    .paypal{
        background: url('../images/paypal_curved.png') no-repeat center left;
        width: 100%;
        margin: 5px;
        color: rgb(36, 34, 34);
        }